/*paleta{

    --principal:#276E90;
    --complementario:#CECFC9;
    --oscuro:#0A3143;
    --claro:#EFEFEF;
}
*/

body{
    background-color: #276E90;
   
}

h1{
   color: #EFEFEF;
}



.content {
    display: flex;
    flex-direction: column;
}

.container{
  
}

.item {
    size: 33%;
    height: 33%;
    max-width: 100%;
    background-color: black !important;
}

.item-input{
    size: 50px;
    height: 50px;
   
    border: solid white 1px;
    border-radius: 10px;
    font-weight: 18px;
    color: white;
    background: none;

}

.boton-agregar {
    background-color: red;
    border: none;
    color: white;
    padding: 2px 20px;
    cursor: pointer;
}
.boton-editar {
    size: 50px;
    height: 50px;
    background: none;
    border-radius: 10px;

    border: solid white 1px;
    color: black;
    padding: 2px 20px;
    cursor: pointer;
    margin: 0 5px 0 5px;

    color: #62d0ff;

    font-size: 1.4rem;
    font-family: sans-serif;
}
.boton-remover {
    size: 50px;
    height: 50px;
    background-color:rgb(255, 6, 46) ;
    border-radius: 10px;
    border: none;
    color: black;
    padding: 2px 20px;
    font-size: 20px;
    margin: 0 5px 0 5px;
    cursor: pointer;
}
h1{

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

    text-align: center;
}

.container:first-of-type {
    display: none;
}

